.frame.fluid-frame.future-frame{ data: { anchor: '07', frame: 'future', menu: { class: 'white' }, nav: { class: 'white' } } }
    .content
        .fg
            .fc.vc.f1
                .text-center= image_tag 'elements/pyramid.svg'
                %h1.text-extra-bold.text-center THE NEXT
                %h1.text-extra-bold.text-center BIG THING
                %h3.text-bold.text-center The last 30 years have defined us.<br>The next 30 years will be defined by you.

    = link_to '#footer', class: 'fluid-link text-white' do
        %i.icon.icon-chevron-thin-down
