.frame.fluid-frame.parts-frame{ data: { anchor: '05', frame: 'parts', menu: { class: 'white' }, nav: { class: 'white' } } }
    .content
        .fg.vc
            .fr.vc.hc.f1.text-center
                %h2.text-extra-bold.text-white PART OF SOMETHING BIGGER

            .fr.hc.vb.f3.buckets.text-white
                .fc.f1
                    .bucket.employees
                        .traits
                            .trait
                                %h4.text-semi-bold Stability
                                %p.text-light Trusted, secure employment to create a foundation for life.

                            .trait
                                %h4.text-semi-bold Wellness
                                %p.text-light Heathcare, insurance, and support for employees and their families.

                            .trait
                                %h4.text-semi-bold Future
                                %p.text-light Opportunity, reward, and retirement our employees can count on.

                        .bin{ data: { title: 'Employees' } }= image_tag 'elements/bin.png'

                .fc.f1
                    .bucket.community
                        .traits
                            .trait
                                %h4.text-semi-bold Sustainability
                                %p.text-light Responsible operation providing clean and safe environment to work with a strong awareness of the environment surrounding us.

                            .trait
                                %h4.text-semi-bold Opportunity
                                %p.text-light Providing opportunities for the communities in which we live.

                            .trait
                                %h4.text-semi-bold Sponsorship
                                %p.text-light Contributing resources to the people and functions of the communities we operate in.

                        .bin{ data: { title: 'Community' } }= image_tag 'elements/bin.png'

                .fc.f1
                    .bucket.customers
                        .traits
                            .trait
                                %h4.text-semi-bold Extended Enterprise
                                %p.text-light Trusted and reliable source of precision plastic components and assemblies.

                            .trait
                                %h4.text-semi-bold Capabilities
                                %p.text-light Engineered solutions so our customers can focus on their customers.

                            .trait
                                %h4.text-semi-bold Part of Their Daily Lives
                                %p.text-light Reliable, on time, quality parts, every day.

                        .bin{ data: { title: 'Customers' } }= image_tag 'elements/bin.png'

    = link_to '#06', class: 'fluid-link text-blue-gray' do
        %i.icon.icon-chevron-thin-down
