.frame.accuracy-frame {
    .content {
        background-image: asset_url('backgrounds/performance_map.png');
        background-size: auto 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0 100px !important;
    }

    h1 {
        font-size: 130px;
        line-height: 130px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 4px;
    }

    .stat-left {
        h1 {
            font-size: 65px;
            line-height: 65px;
        }

        h2 {
            opacity: 0.75;
            font-size: 25px;
            line-height: 25px;
        }
    }

    hr {
        margin: 15px auto;
        background-color: $theme-pale-blue;
        max-width: 300px;
    }

    .arrow {
        height: 75px;
        margin-bottom: 50px;
    }

    img {
        max-width: 50%;
    }

    @media #{$small-and-down} {
        .content {
            padding: 25px 20px !important;
            background-attachment: scroll;
        }

        .arrow-line {
            height: 100px;
        }

        .arrow {
            margin-bottom: 25px;
        }

        h1 {
            font-size: 75px;
            line-height: 75px;
        }

        h2 {
            font-size: 20px;
            line-height: 20px;
        }

        .stat-left {
            h1 {
                font-size: 50px;
                line-height: 50px;
            }

            h2 {
                font-size: 18px;
                line-height: 18px;
            }
        }

    }
}
