.frame.splash-frame {
    .content {
        background-image: asset_url('backgrounds/performance.jpg');
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 70%;
            min-width: 900px;
            bottom: 0;
            top: 0;
            background-color: rgba(8, 77, 147, .7);
            z-index: -1;

            -webkit-clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
        }
    }

    h3 {
        line-height: 26px;
        max-width: 600px;
    }

    @media #{$small-and-down} {
        text-align: center;

        h2 {
            font-size: 34px;
        }

        h3 {
            line-height: 1;
        }
    }
}
