.value-added-frame {
    .content {
        background-color: $theme-light-gray;
        padding: 100px 10%;
    }

    .fc {
        padding: 0 50px;
    }

    p {
        max-width: 425px;
        margin-top: 15px;
    }

    img {
        display: block;
        width: 70%;
        margin-bottom: 20px;
    }

    svg {
        height: 450px;
        padding: 100px;
        margin: -100px;
    }

    @media #{$small-and-down} {
        text-align: center;

        .fr {
            @include flex-flow(column nowrap !important);
        }

        .fc {
            padding: 0 !important;
            width: 100%;
        }

        .content {
            height: 100vh;
            padding: 0 !important;
        }

        h2 {
            padding: 25px 20px 0;
        }

        p {
            padding: 0 calc(10% + 20px);
        }
    }

}
