.frame.accuracy-frame{ data: { anchor: 'accuracy', frame: 'accuracy' } }
    .content
        .fg
            .arrows
                .fr.hc
                    .arrow-line
                .fr
                    .fc.f1.hc
                        .arrow-connector.right
                        .arrow
                    .fc.f1.hc
                        .arrow-connector.left
                        .arrow
            .graphics.fr.vt
                .fc.f1.hc
                    .stat-right.f1.text-center
                        .text-dark-blue
                            %h1.text-extra-bold 75
                            %h2.text-bold CUSTOMERS
                    %hr
                    .fc.f1.hc
                        .text-pale-blue.text-center
                            %h2.text-semi-bold MOST WITHIN<br/>300 MILES
                .stat-left.f1
                    .fc.f1.hc
                        .text-blue
                            %h1.text-extra-bold 99.6%
                            %h2.text-bold ON TIME
                            %br
                            %h1.text-extra-bold <8 PPM
                            %h2.text-bold ACCURACY
                            %br
                            %h1.text-extra-bold 0
                            %h2.text-bold LOST TIME ACCIDENTS
                            %h2.text-bold IN PAST 12 MONTHS
