.frame.awards-frame{ data: { anchor: 'awards', frame: 'awards' } }
    .content
        .fg
            .arrows
                .fr
                    .fc.f1.hc
                        .arrow-line
                        .arrow-connector.right

                    .fc.f1.hc
                        .arrow-line
                        .arrow-connector.left
                .fr.hc
                    .arrow
            .graphics.fr.hc
                .text-center= image_tag 'elements/awards.png', width: '60%'
