.frame.metrics-frame{ data: { anchor: 'metrics', frame: 'metrics' } }
    .content
        .fr.f1
            .fc.hc.f1
                .arrows
                    .arrow
                = image_tag 'elements/350.svg', class: 'graphics'
