.frame.parts-frame{ data: { anchor: 'parts', frame: 'parts' } }
    .content
        .fr.f1
            .fc.hc.f1
                .arrows
                    .arrow
                = image_tag 'elements/180.svg', class: 'graphics'
