.frame.performance-frame{ data: { anchor: 'performance', frame: 'performance' } }
    .content
        .fg
            .fr.f1.hc
                .graphics.fc.f1.text-center
                    %h2.text-blue
                        .text-extra-bold PERFORMANCE
                        .text-semi-bold BY THE NUMBERS

                    %p Our metrics are the result of our pure process and<br>dedication to quality. You can't argue with the Metrics.
