.frame.full-frame.splash-frame{ data: { frame: 'splash', nav: { class: "white" } } }
    .content.text-white
        .fg.vc
            .fc
                %h2 CELEBRATING
                %h1.text-extra-bold 30 YEARS
                %h2.text-bold OF QUALITY PERFORMANCE
                %br
                %br
                %h3.text-semi-bold 30 years brought us here today, to make the next 30 even better for our employees, customers, and overall community.