.frame.top100-frame{ data: { anchor: 'top100', frame: 'top100' } }
    .content
        .fg.vc
            .fr.vc
                .fc.f1.hc
                    %div
                        %h2.text-dark-blue
                            .text-extra-bold TOP 100
                            .text-semi-bold PLASTICS MOLDER

                        %p Adkev was ranked in the Top 100 of North America's &ldquo;Top Injection Molders&rdquo; as published in Plastics News, June 2016.
                .fc.f1.hc
                    = image_tag 'elements/top100.svg'
