body {
    color: #859894;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 17px;
}

a {
    color: #0581ff;
    text-decoration: none;
}

b > a {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-decoration: underline;
}
