.frame.splash-frame{ data: { frame: 'splash', nav: { class: "white" } } }
    .content
        .fg.vc.hc
            %h1.text-extra-bold.text-white JOIN US
            %h2.text-semi-bold.text-white CHECK OUT OUR OPEN POSITIONS
