.fc.hc.card
    = inline_svg 'elements/tutorial1.svg'
    %h3.text-bold.text-dark-blue Welcome to "Adkev Edge"
    %p You are now in Adkev’s new portal to service all of your needs as an Adkev employee and accomplish “Something Bigger”.
    .fr.hc.vc
        .dot.filled
        .dot
        .dot
        .dot
    = link_to 'NEXT', edge_tutorial_path, method: :put, class: 'btn btn-blue btn-border-in text-regular'
