.fc.hc.card
    = inline_svg 'elements/tutorial2.svg'
    %h3.text-bold.text-dark-blue Stay informed
    %p Scroll through a newsfeed of new updates happening around Adkev. Everything from new clients, team members, awards, and announcements.
    .fr.hc.vc
        .dot
        .dot.filled
        .dot
        .dot
    = link_to 'NEXT', edge_tutorial_path, method: :put, class: 'btn btn-blue btn-border-in text-regular'
