.fc.hc.card
    = inline_svg 'elements/tutorial3.svg'
    %h3.text-bold.text-dark-blue Access all of your HR portals
    %p Everything you need to access for your benefits, payroll, healthcare, and text updates are now in one place.
    .fr.hc.vc
        .dot
        .dot
        .dot.filled
        .dot
    = link_to 'NEXT', edge_tutorial_path, method: :put, class: 'btn btn-blue btn-border-in text-regular'
