.fc.hc.card
    = inline_svg 'elements/tutorial4.svg'
    %h3.text-bold.text-dark-blue Submit feedback
    %p One of our key values is Continuous Improvement. We want your ideas on how to make Adkev even better. Submit your feedback anonymously.
    .fr.hc.vc
        .dot
        .dot
        .dot
        .dot.filled
    = link_to 'OKAY, GOT IT!', edge_tutorial_path, method: :put, class: 'btn btn-blue btn-border-in text-regular'
