.frame.full-frame.splash-frame{ data: { frame: 'splash', nav: { class: "white" } } }
    .content.text-white
        .fg.hc.vc.text-center
            .fc
                %h1.text-extra-bold WHY ADKEV?
                %h2.text-semi-bold A TRUSTED PARTNER WITH PROVEN CAPABILITY
