.frame.story-frame{ data: { anchor: 'story', frame: 'story' } }
    .content
        .fg.vc
            .fr.vc.hc
                .f2= image_tag 'elements/keurig.png'
                .f2
                    %h2.text-dark-blue
                        .text-extra-bold A STORY
                        .text-semi-bold OF CAPABILITY

                    %p Adkev collaborates with its customers to develop fully functional, salable products from concepts, renderings and specifications through the utilization of our experience, industrial part design, DFM, simulation and prototype part production.
