.frame.tonnage-frame{ data: { anchor: 'tonnage', frame: 'tonnage' } }
    .banner.fr.hc.vc
        %h2.text-bold.text-white RANGE OF CAPABILITY
    .content
        .fg
            .fr.vc.text-center
                .fc.hc.f6
                    = image_tag 'elements/large_tonnage.jpg'
                .fc.hc.f1.tight
                    %h2.icon.icon-plus.text-blue
                .fc.hc.f6
                    = image_tag 'elements/small_tonnage.jpg'

            .fr.vc.text-center
                .fc.hc.f6.spaced
                    %h2.text-dark-blue
                        .text-extra-bold LARGE TONNAGE
                        .text-semi-bold MOLDING
                    %ul
                        %li Ranging 500 – 1,000 ton
                        %li 26 machines

                .fc.hc.f1.spaced

                .fc.hc.f6.spaced
                    %h2.text-dark-blue
                        .text-extra-bold SMALL TONNAGE
                        .text-semi-bold MOLDING
                    %ul
                        %li Ranging 85 – 385 ton
                        %li 84 machines
                        %li Precision Parts
                        %li High cavitation
                        %li Quick cycle