.frame.full-frame.warehouse-frame{ data: { anchor: 'warehouse', frame: 'warehouse', nav: { class: "white" } } }
    .content.text-white
        .fg.vc
            .fc.hc.vc.text-center
                %h2
                    .text-semi-bold PART OF YOUR
                    .text-extra-bold DAILY LIFE

                %p Reliable, consistent, and capable supply chain management
