$theme-white: #fff;
$theme-black: #000;
$theme-red: #ff5252;

$theme-blue: #0581ff;
$theme-pale-blue: #6894b5;
$theme-light-blue: #29abe2;
$theme-dark-blue: #004b95;
$theme-blue-gray: #859894;

$theme-dark-gray: #4d4d4d;
$theme-gray: #b3b3b3;
$theme-light-gray: #f2f2f2;
$theme-off-white: #f9f9f9;
