.frame.full-frame.customers-frame{ data: { anchor: 'customers', frame: 'customers', nav: { class: "white" } } }
    .content.text-white
        .fg.vc
            .fr
                .fc.f3
                .fc.f2
                    %h2
                        .text-extra-bold SOMETHING BIGGER
                        .text-semi-bold FOR OUR CUSTOMERS

                    %p Adkev’s Mission is to provide a trusted and reliable enterprise that is an extension of its customer’s businesses enabling them to invest in capabilities to do the same for their customers.
