.frame.full-frame.employees-frame{ data: { anchor: 'employees', frame: 'employees', nav: { class: "white" } } }
    .content.text-white
        .fg.vc
            .fc
                %h2
                    .text-extra-bold SOMETHING BIGGER
                    .text-semi-bold FOR OUR EMPLOYEES

                %p From the beginning the primary mission of Cathy and Gary was to create a sustainable source of stable employment and opportunity for the people that make up Adkev.  While we celebrate our first 30 years of success in doing this, we look to how we can provide this very same trust, opportunity and stability to our employees for the next 30 years.
