.frame.mission-frame{ data: { anchor: 'mission', frame: 'mission', nav: { class: 'white' } } }
    .content
        .fg
            .fr.f1.hc.vc
                .fc.hc.text-center.text-white
                    %h2.text-semi-bold
                        %span THE ADKEV
                        %span.text-extra-bold MISSION

                    %h3.text-semi-bold.text-faint Through the contributions of every associate, Adkev is driven to provide a world class environment of empowerment, engagement, and continuous improvement resulting in total customer satisfaction.
