.frame.full-frame.splash-frame{ data: { frame: 'splash', nav: { class: "white" } } }
    .content
        .fg.vc
            .fc.hc.vc.text-center
                %h2.text-semi-bold.text-white QUALITY SERVICES DRIVEN BY
                %h1.text-extra-bold.text-white OUR VALUES
