.frame.story-frame{ data: { anchor: 'story', frame: 'story' } }
    .content
        .fr.vc
            .fc.f1
            .fc.f6
                = image_tag 'elements/founders.jpg'
            .fc.f1
            .fc.f6
                %h2.text-semi-bold.text-blue
                    %div.text-extra-bold OUR STORY
                    %div FROM THE BEGINNING

                %p.text-light Starting 30 Years ago, Cathy and Gary Rheude created a business with the sole focus to provide for its employees, communities, and customers by delivering quality parts on time every time.

                %p.text-light Today Adkev is recognized by its customers as a partner, and a trusted extension of their own businesses.

                %p.text-light Our mission is to continue to provide quality parts on time, as well as broaden our capabilities, locations, and costs so our customers can focus on bringing value to their customers.
            .fc.f1