.frame.values-frame{ data: { anchor: 'values', frame: 'values' } }
    .content
        .fg
            .fr
                .fc.f1
                    %h2.text-extra-bold.text-dark-blue UNITY
                    %p.text-light Adkev is a family-owned business wherein all associates are considered family and part of the communities in which we work and live. We strive to create a culture of closeness, inclusiveness, empowerment, accountability, and <b>unity</b>.
                .fc.f1
                    %h2.text-extra-bold.text-dark-blue INTEGRITY
                    %p.text-light We will always conduct ourselves with the utmost <b>integrity</b> when interacting with our associates, customers and vendors. It is our belief that honesty is the best policy and everyone should be treated with the highest respect.
            .fr
                .fc.f1
                    %h2.text-extra-bold.text-dark-blue INNOVATION
                    %p.text-light <b>Innovation</b> is a cornerstone to what makes Adkev unique. We encourage all associates to strive to produce excellent work that differentiates our products from the competition.
                .fc.f1
                    %h2.text-extra-bold.text-dark-blue IMPROVEMENT
                    %p.text-light We seek to foster <b>continuous improvement</b> that leads to total customer satisfaction and value in every aspect of our business. At Adkev, good is simply not good enough.
